{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "eslint-plugin-import"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:eslint-comments/recommended"
    ],
    "env": {
        "es2017": true,
        "node": true
    },
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "ignorePatterns": [
        ".eslintrc.js"
    ],
    "rules": {
        "import/no-deprecated": "error",
        "import/order": ["error", {
            "groups": [
                ["internal", "external", "builtin", "object"],
                ["index", "sibling", "parent"]
            ],
            "newlines-between": "always",
            "alphabetize": {
                "order": "asc",
                "caseInsensitive": true
            }
        }],
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "no-bitwise": "error",
        "no-caller": "error",
        "no-constant-condition": ["error", {
            "checkLoops": false
        }],
        "no-eval": "error",
        "no-floating-decimal": "error",
        "no-multiple-empty-lines": ["error", {
            "max": 1,
            "maxBOF": 0
        }],
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-param-reassign": "error",
        "no-restricted-globals": ["error", "event"],
        "no-sequences": "error",
        "no-template-curly-in-string": "error",
        "no-trailing-spaces": "error",
        "no-undef-init": "error",
        "no-var": "error",
        "no-void": "error",
        "object-shorthand": "error",
        "one-var": ["error", "never"],
        "prefer-arrow-callback": ["error"],
        "prefer-const": ["error"],
        "prefer-object-spread": "error",
        "prefer-template": "error",
        "quote-props": ["error", "as-needed"],
        "radix": "error",
        "sort-imports": ["error", {
            "ignoreCase": true,
            "ignoreDeclarationSort": true,
            "allowSeparatedGroups": true
        }],
        "space-before-blocks": ["error", "always"],
        "yoda": "error",
        "brace-style": "off",
        "camelcase": "off",
        "comma-dangle": "off",
        "comma-spacing": "off",
        "default-param-last": "off",
        "dot-notation": "off",
        "func-call-spacing": "off",
        "keyword-spacing": "off",
        "lines-between-class-members": "off",
        "no-array-constructor": "off",
        "no-dupe-class-members": "off",
        "no-duplicate-imports": "off",
        "no-empty-function": "off",
        "no-extra-semi": "off",
        "no-implied-eval": "off",
        "no-invalid-this": "off",
        "no-loop-func": "off",
        "no-loss-of-precision": "off",
        "no-redeclare": "off",
        "no-shadow": "off",
        "no-throw-literal": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "no-useless-constructor": "off",
        "quotes": "off",
        "require-await": "off",
        "semi": "off",
        "space-before-function-paren": "off",
        "space-infix-ops": "off",

        /* Start plugin:@typescript-eslint/recommended overrides */
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-unused-vars": ["error", {
            "ignoreRestSiblings": true,
            "argsIgnorePattern": "^_"
        }],
        /* End plugin:@typescript-eslint/recommended overrides */

        /* Start plugin:eslint-comments/recommended overrides */
        "eslint-comments/disable-enable-pair": ["warn", { "allowWholeFile": true }],
        "eslint-comments/no-unused-disable": "warn",
        /* End plugin:eslint-comments/recommended overrides *.

        /* plugin:@typescript-eslint */
        "@typescript-eslint/array-type": ["error", {
            "default": "array"
        }],
        "@typescript-eslint/brace-style": ["error", "stroustrup", {
            "allowSingleLine": true
        }],
        "@typescript-eslint/comma-dangle": "error",
        "@typescript-eslint/comma-spacing": "error",
        "@typescript-eslint/consistent-type-assertions": ["error", {
            "assertionStyle": "as",
            "objectLiteralTypeAssertions": "never"
        }],
        "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
        "@typescript-eslint/consistent-type-imports": ["error", {
            "prefer": "type-imports"
        }],
        "@typescript-eslint/explicit-function-return-type": ["error", {
            "allowExpressions": true,
            "allowTypedFunctionExpressions": true,
            "allowHigherOrderFunctions": true
        }],
        "@typescript-eslint/default-param-last": "error",
        "@typescript-eslint/dot-notation": "error",
        "@typescript-eslint/explicit-member-accessibility": ["error", {
            "accessibility": "explicit",
            "overrides": {
                "constructors": "no-public"
            }
        }],
        "@typescript-eslint/func-call-spacing": "error",
        "@typescript-eslint/keyword-spacing": "error",
        "@typescript-eslint/lines-between-class-members": ["error", {
            "exceptAfterSingleLine": true
        }],
        "@typescript-eslint/member-delimiter-style": "error",
        "@typescript-eslint/member-ordering": "error",
        "@typescript-eslint/method-signature-style": "error",
        "@typescript-eslint/naming-convention": ["error",
            {
                "selector": "default",
                "format": ["camelCase", "PascalCase"],
                "leadingUnderscore": "allow",
                "trailingUnderscore": "forbid"
            },
            {
                "selector": "objectLiteralProperty",
                "format": ["camelCase"],
                "leadingUnderscore": "allow"
            },
            {
                "selector": "variable",
                "modifiers": ["destructured"],
                "format": null
            },
            {
                "selector": "typeLike",
                "format": ["PascalCase"]
            }
        ],
        "@typescript-eslint/no-base-to-string": ["error", {
            "ignoredTypeNames": ["Error"]
        }],
        "@typescript-eslint/no-confusing-non-null-assertion": "error",
        "@typescript-eslint/no-confusing-void-expression": ["error", {
            "ignoreArrowShorthand": true
        }],
        "@typescript-eslint/no-dupe-class-members": "error",
        "@typescript-eslint/no-duplicate-imports": "error",
        "@typescript-eslint/no-extraneous-class": "error",
        "@typescript-eslint/no-invalid-this": "error",
        "@typescript-eslint/no-invalid-void-type": "error",
        "@typescript-eslint/no-loop-func": "error",
        "@typescript-eslint/no-loss-of-precision": "error",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-redeclare": ["error", {
           "ignoreDeclarationMerge" : true
        }],
        "@typescript-eslint/no-shadow": ["error", {
            "builtinGlobals": true,
            "hoist": "all"
        }],
        "@typescript-eslint/no-throw-literal": "error",
        "@typescript-eslint/no-unnecessary-boolean-literal-compare": "error",
        "@typescript-eslint/no-unnecessary-condition": ["error", {
            "allowConstantLoopConditions": true
        }],
        "@typescript-eslint/no-unnecessary-qualifier": "error",
        "@typescript-eslint/no-unnecessary-type-arguments": "error",
        "@typescript-eslint/no-unnecessary-type-constraint": "error",
        "@typescript-eslint/no-unused-expressions": "error",
        "@typescript-eslint/no-use-before-define": ["error", {
            "functions": false,
            "classes": false,
            "typedefs": false,
            "ignoreTypeReferences": true
        }],
        "@typescript-eslint/no-useless-constructor": "error",
        "@typescript-eslint/prefer-for-of": "error",
        "@typescript-eslint/prefer-includes": "error",
        "@typescript-eslint/prefer-literal-enum-member": "error",
        "@typescript-eslint/prefer-optional-chain": "error",
        "@typescript-eslint/prefer-readonly": "error",
        "@typescript-eslint/prefer-reduce-type-parameter": "error",
        "@typescript-eslint/prefer-string-starts-ends-with": "error",
        "@typescript-eslint/promise-function-async": "error",
        "@typescript-eslint/quotes": ["error", "single", {
            "avoidEscape": true
        }],
        "@typescript-eslint/return-await": ["error", "always"],
        "@typescript-eslint/semi": ["error", "always"],
        "@typescript-eslint/space-before-function-paren": ["error", {
            "anonymous": "never",
            "named": "never",
            "asyncArrow": "always"
        }],
        "@typescript-eslint/space-infix-ops": "error",
        "@typescript-eslint/switch-exhaustiveness-check": "error",
        "@typescript-eslint/type-annotation-spacing": "error",
        "@typescript-eslint/unified-signatures": "error"
    }
}
